# Python
__pycache__/
*.pyc
.venv/
dist/
*.egg-info/

# Env
.env

# Node
website/node_modules/
website/dist/

# Misc
.DS_Store
.temp/
.minio-data/

# Notebooks
notebooks/.ipynb_checkpoints/

logs
temp